body {
  height: 100vh;
  width: auto;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #fff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

header {
  border: 3px solid hsl(217, 16%, 45%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vw;
  border-radius: 1.5vw;
}

main {
  padding-top: 10vw;
}

.rules-visibility {
  display: none;
}

.rules-layout {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.rules-title {
  color: #000;
  padding-top: 80px;
}

.rules-padding {
  margin: 0 8vw;
}

#rules-button {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  padding-bottom: 5vw;
}

.first-view-visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-view-unvisible {
  display: none;
}

.selected-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes grow-1 {
  to {
    background: hsla(212, 47%, 21%, 0.9);
  }
}
@keyframes grow-2 {
  to {
    background: hsla(211, 36%, 29%, 0.9);
  }
}
@keyframes grow-3 {
  to {
    background: hsl(213, 36%, 40%);
  }
}

.win-div-1 {
  padding: 8vw;
}
.win-div-2 {
  padding: 6vw;
}
.win-div-3 {
  padding: 4vw;
}

.win-img-layout {
  margin-left: -17.5vw;
}

.house-win-img-layout {
  margin-left: 4.35vw;
}

.icon-and-text {
  align-items: center;
}

.win-style-1 {
  border-radius: 50%;
  animation: grow-1 infinite;
  animation-duration: 2s;
  animation-delay: 2500ms;
  position: relative;
  z-index: -10;
}
.win-style-2 {
  border-radius: 50%;
  animation: grow-2 infinite;
  animation-duration: 2s;
  animation-delay: 2500ms;
  position: relative;
  z-index: -10;
}
.win-style-3 {
  border-radius: 50%;
  animation: grow-3 infinite;
  animation-duration: 2s;
  animation-delay: 2500ms;
  position: relative;
  z-index: -10;
}

.second-view-unvisible {
  display: none;
}

.second-view-titles {
  font-size: 14px;
  font-weight: 400;
}

.tie-layout {
  margin-top: 18vw;
}

.you-title-tie {
  margin-top: 10vw;
  margin-left: 4vw;
}

.house-title-tie {
  margin-top: -11vw;
  margin-left: 4vw;
  margin-bottom: -16vw;
}

.you-title {
  margin-left: 4vw;
  margin-top: -10vw;
}

.house-title {
  margin-left: 1vw;
  margin-top: -10vw;
}

.play-again-layout,
.play-again-layout-2 {
  text-align: center;
  visibility: hidden;
}

#play-again-btn,
#play-again-btn-2 {
  background-color: #fff;
  padding: 12px 56px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #fff;
  color: hsl(237, 49%, 15%);
  border-radius: 8px;
  margin-bottom: 10vw;
}

.score-style {
  background-color: #fff;
  border-radius: 1.5vw;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 5vw;
}

.score-text {
  color: hsl(229, 64%, 46%);
  font-size: 2.5vw;
  line-height: 2.4vw;
  padding-bottom: 10px;
}

.score-amount {
  color: hsl(229, 25%, 31%);
  font-size: 9vw;
  line-height: 7vw;
}

.pentagon-style {
  height: 50vw;
  width: 50vw;
  max-height: 300px;
  max-width: 300px;
}

.scissors-border,
.paper-border,
.spock-border,
.lizard-border,
.rock-border {
  width: 23vw;
  height: 23vw;
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.scissors-border {
  margin-bottom: -2vw;
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 4px 0px hsl(39, 91%, 37%);
}
.spack-paper-layout {
  display: flex;
  flex-direction: row;
  margin-bottom: -29vw;
}
.paper-border {
  margin: 0 14vw;
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 4px 0px hsl(230, 48%, 49%);
}
.spock-border {
  margin: 0 14vw;
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 4px 0px hsl(189, 54%, 36%);
}
.lizard-rock-layout {
  display: flex;
  flex-direction: row;
  margin-top: -8vw;
}
.lizard-border {
  margin: 0 5vw;
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 4px 0px hsl(261, 51%, 42%);
}
.rock-border {
  margin: 0 5vw;
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 4px 0px hsl(349, 64%, 33%);
}

.scissors-border:hover {
  background: hsl(40, 88%, 63%);
}
.paper-border:hover {
  background: hsl(230, 85%, 71%);
}
.spock-border:hover {
  background: hsl(188, 52%, 67%);
}
.lizard-border:hover {
  background: hsl(261, 72%, 71%);
}
.rock-border:hover {
  background: hsl(349, 98%, 67%);
}

.scissors-border:active,
.paper-border:active,
.rock-border:active,
.lizard-border:active,
.spock-border:active {
  opacity: 0.3;
}

#scissors,
#paper,
#spock,
#lizard,
#rock {
  width: 18vw;
  height: 18vw;
  max-width: 110px;
  max-height: 110px;
  background-color: #fff;
  box-shadow: inset 0px 4px 0px rgba(159, 157, 157, 0.6);
  margin-top: 2.5vw;
  margin-left: 2.5vw;
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selected-scissors,
#selected-paper,
#selected-spock,
#selected-lizard,
#selected-rock {
  width: 25vw;
  height: 25vw;
  background-color: #fff;
  box-shadow: inset 0px 4px 0px rgba(159, 157, 157, 0.6);
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-scissors-border {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 4px 0px hsl(39, 91%, 37%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-paper-border {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 4px 0px hsl(230, 48%, 49%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-spock-border {
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 4px 0px hsl(189, 54%, 36%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-lizard-border {
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 4px 0px hsl(261, 51%, 42%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-rock-border {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 4px 0px hsl(349, 64%, 33%);
  border-radius: 50%;
  padding: 3vw;
}

.house-picked {
  content: "";
  background-color: hsl(215, 69%, 14%);
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  padding: 3vw;
}

@keyframes win-opacity {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.win-opacity {
  animation-name: win-opacity;
  animation-duration: 2s;
}

.house-picked-icon-unvisible {
  display: none;
}

.game-img {
  height: 10vw;
  max-height: 60px;
}

#rules-btn {
  background-color: hsl(237, 49%, 15%);
  padding: 10px 35px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #d7d0d0;
  color: #d7d0d0;
  border-radius: 8px;
  margin-bottom: 10vw;
}

#rules-btn:hover {
  background-color: hsl(237, 33%, 33%);
}

#game-ended,
#game-ended-2 {
  font-size: 10vw;
  transform: scaleY(1.2);
  margin-bottom: 4vw;
  text-align: center;
}

@media screen and (min-width: 650px) {
  header {
    margin: 5vw 10vw;
    padding: 2vw;
    margin-bottom: 0px;
  }

  .pentagon-style {
    max-height: 260px;
    max-width: 260px;
  }

  #scissors,
  #paper,
  #spock,
  #lizard,
  #rock {
    max-height: 90px;
    max-width: 90px;
  }

  .scissors-border,
  .paper-border,
  .spock-border,
  .lizard-border,
  .rock-border {
    max-width: 120px;
    max-height: 120px;
  }
  .scissors-border {
    margin-bottom: -10px;
  }
  .spack-paper-layout {
    margin-bottom: -170px;
  }
  .paper-border {
    margin: 0 90px;
  }
  .spock-border {
    margin: 0 90px;
  }
  .lizard-rock-layout {
    margin-top: -50px;
  }
  .lizard-border {
    margin: 0 40px;
  }
  .rock-border {
    margin: 0 40px;
  }
  #scissors,
  #paper,
  #spock,
  #lizard,
  #rock {
    margin-top: 15px;
    margin-left: 15px;
  }
}

footer {
  text-align: center;
}

button#rules-button.rules-button-modal > img {
  padding: 5px;
  border-radius: 5px;
}

button#rules-button.rules-button-modal:hover > img {
  background-color: rgb(238, 236, 236);
}

@media only screen and (min-width: 500px) {
  #game-ended,
  #game-ended-2 {
    font-size: 30px;
    transform: scaleY(1.2);
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .heading-style {
    font-size: 10px;
    padding: 10px;
  }

  #desktop-view {
    display: none;
  }

  .rules-style {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
  }

  .modal-title {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    height: auto;
  }

  header {
    margin-bottom: 40px;
  }

  main {
    padding-top: 20px;
  }

  .score-style {
    padding: 0 50px;
  }

  .score-text {
    font-size: 20px;
    line-height: 60px;
  }

  .score-amount {
    font-size: 60px;
    line-height: 70px;
    margin-top: -25px;
  }

  .heading-style {
    font-size: 22px;
    padding: 0px;
  }

  #selected-scissors,
  #selected-paper,
  #selected-spock,
  #selected-lizard,
  #selected-rock {
    width: 150px;
    height: 150px;
  }
  .selected-rock-border,
  .selected-lizard-border,
  .selected-spock-border,
  .selected-paper-border,
  .selected-scissors-border {
    padding: 22px;
  }

  .play-again-layout-2 {
    display: none;
  }

  .house-picked {
    width: 150px;
    height: 150px;
    padding: 22px;
  }

  .win-img-layout {
    margin-left: 0px;
  }

  .img-space {
    margin: 40px;
  }

  .house-win-img-layout {
    margin-left: 0px;
  }

  .selected-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
  }

  .tie-layout {
    margin-top: 0px;
  }

  .selected-icons-desktop {
    display: none;
  }

  .win-div-1 {
    padding: 100px;
    margin: -240px;
  }
  .win-div-2 {
    padding: 80px;
  }
  .win-div-3 {
    padding: 60px;
  }

  #mobile-view {
    display: none;
  }

  .you-title-tie {
    margin-top: -95px;
    margin-left: 0px;
  }
  .house-title-tie {
    margin-top: -110px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #rules-btn {
    margin: 0 50px 50px 0;
    padding: 10px 40px;
  }

  .rules-btn-div {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .modal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .modal-rules-title {
    color: #000;
  }

  .modal-div {
    position: fixed;
    z-index: 600;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    position: relative;
    z-index: 700;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    background-color: #fff;
    background-color: #fff;
    border-radius: 10px;
  }

  .rules-padding {
    padding: 0 0 60px 0;
    margin: 0 40px;
  }

  #rules-button {
    display: none;
  }

  .rules-title {
    display: none;
  }

  .rules-button-modal {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
  }

  button.rules-button-modal > img {
    padding: 5px;
    border-radius: 5px;
  }

  button.rules-button-modal > img:hover {
    background-color: rgb(238, 236, 236);
  }
}

@media only screen and (min-width: 1150px) {
  header {
    margin: 5vw 25vw;
  }

  .play-again-layout,
  .play-again-layout-2 {
    display: none;
  }

  #selected-scissors,
  #selected-paper,
  #selected-spock,
  #selected-lizard,
  #selected-rock {
    width: 200px;
    height: 200px;
  }

  .img-space {
    margin: 60px;
    margin-top: 0;
  }

  .selected-rock-border,
  .selected-lizard-border,
  .selected-spock-border,
  .selected-paper-border,
  .selected-scissors-border {
    padding: 30px;
  }

  .house-picked {
    width: 200px;
    height: 200px;
    padding: 30px;
  }
}
