body {
  height: 100vh;
  width: auto;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #fff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

header {
  border: 3px solid hsl(217, 16%, 45%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vw;
  border-radius: 1.5vw;
}

.rules-visibility {
  display: none;
}

.rules-layout {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.rules-style {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  text-align: center;
  background-color: #fff;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.rules-title {
  color: #000;
  padding-top: 80px;
}

.rules-padding {
  margin: 0 8vw;
}

#rules-button {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  padding-bottom: 5vw;
}

.first-view-visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-view-unvisible {
  display: none;
}

.selected-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes grow-1 {
  /* from {
    background-color: hsl(214, 47%, 23%);
  } */
  to {
    background: hsla(212, 47%, 21%, 0.9);
  }
}
@keyframes grow-2 {
  /* from {
    background-color: hsl(214, 47%, 23%);
  } */
  to {
    background: hsla(211, 36%, 29%, 0.9);
  }
}
@keyframes grow-3 {
  /* from {
    background-color: hsl(214, 47%, 23%);
  } */
  to {
    background: hsl(213, 36%, 40%);
  }
}

.win-div-1 {
  padding: 8vw;
}
.win-div-2 {
  padding: 6vw;
}
.win-div-3 {
  padding: 4vw;
}

.win-img-layout {
  margin-left: -17.5vw;
}

.house-win-img-layout {
  margin-left: 4.35vw;
}

.icon-and-text {
  align-items: center;
}

.win-style-1 {
  border-radius: 50%;
  animation: grow-1 infinite;
  animation-duration: 2s;
  animation-delay: 2500ms;
}
.win-style-2 {
  border-radius: 50%;
  animation: grow-2 infinite;
  animation-duration: 2s;
  animation-delay: 2500ms;
}
.win-style-3 {
  border-radius: 50%;
  animation: grow-3 infinite;
  animation-duration: 2s;
  animation-delay: 2500ms;
}

.second-view-unvisible {
  display: none;
}

.second-view-titles {
  font-size: 14px;
  font-weight: 400;
}

.you-title-tie {
  margin-left: 4vw;
  margin-bottom: -16vw;
}

.house-title-tie {
  margin-left: 4vw;
  margin-bottom: -16vw;
}

.you-title {
  margin-left: 4vw;
  margin-top: -10vw;
}

.house-title {
  margin-left: 1vw;
  margin-top: -10vw;
}

.play-again-layout {
  text-align: center;
}

#play-again-btn {
  background-color: #fff;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #fff;
  color: hsl(237, 49%, 15%);
  border-radius: 2vw;
  margin-bottom: 10vw;
}

.play-again-layout {
  visibility: hidden;
}

/* .main-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
} */

.score-style {
  background-color: #fff;
  border-radius: 1.5vw;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5vw;
}

.score-text {
  color: hsl(229, 64%, 46%);
  font-size: 2.5vw;
  line-height: 2.4vw;
  padding-bottom: 10px;
}

.score-amount {
  color: hsl(229, 25%, 31%);
  font-size: 9vw;
  line-height: 7vw;
}

.pentagon-style {
  height: 50vw;
  width: 50vw;
  max-height: 300px;
  max-width: 300px;
}

.scissors-border,
.paper-border,
.spock-border,
.lizard-border,
.rock-border {
  width: 23vw;
  height: 23vw;
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.scissors-border {
  margin-bottom: -2vw;
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 4px 0px hsl(39, 91%, 37%);
}
.spack-paper-layout {
  display: flex;
  flex-direction: row;
  margin-bottom: -29vw;
}
.paper-border {
  margin: 0 14vw;
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 4px 0px hsl(230, 48%, 49%);
}
.spock-border {
  margin: 0 14vw;
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 4px 0px hsl(189, 54%, 36%);
}
.lizard-rock-layout {
  display: flex;
  flex-direction: row;
  margin-top: -8vw;
}
.lizard-border {
  margin: 0 5vw;
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 4px 0px hsl(261, 51%, 42%);
}
.rock-border {
  margin: 0 5vw;
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 4px 0px hsl(349, 64%, 33%);
}
.scissors-border:active,
.paper-border:active,
.rock-border:active,
.lizard-border:active,
.spock-border:active {
  opacity: 0.3;
}

.scissors-border:hover {
  opacity: 0.9;
}

#scissors,
#paper,
#spock,
#lizard,
#rock {
  width: 18vw;
  height: 18vw;
  max-width: 110px;
  max-height: 110px;
  background-color: #fff;
  box-shadow: inset 0px 4px 0px rgba(159, 157, 157, 0.6);
  margin-top: 2.5vw;
  margin-left: 2.5vw;
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selected-scissors,
#selected-paper,
#selected-spock,
#selected-lizard,
#selected-rock {
  width: 25vw;
  height: 25vw;
  /* max-width: 110px;
  max-height: 110px; */
  background-color: #fff;
  box-shadow: inset 0px 4px 0px rgba(159, 157, 157, 0.6);
  /* margin-top: 5px;
  margin-left: 5px; */
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-scissors-border {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 4px 0px hsl(39, 91%, 37%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-paper-border {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 4px 0px hsl(230, 48%, 49%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-spock-border {
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 4px 0px hsl(189, 54%, 36%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-lizard-border {
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 4px 0px hsl(261, 51%, 42%);
  border-radius: 50%;
  padding: 3vw;
}
.selected-rock-border {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 4px 0px hsl(349, 64%, 33%);
  border-radius: 50%;
  padding: 3vw;
}

.house-picked {
  content: "";
  background-color: hsl(215, 69%, 14%);
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  padding: 3vw;
}

@keyframes win-opacity {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.win-opacity {
  animation-name: win-opacity;
  animation-duration: 2s;
}

.house-picked-icon-unvisible {
  display: none;
}

.game-img {
  height: 10vw;
  max-height: 60px;
}

#rules-btn {
  background-color: hsl(237, 49%, 15%);
  padding: 10px 35px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #d7d0d0;
  color: #d7d0d0;
  border-radius: 2vw;
  margin-bottom: 10vw;
}

@media screen and (min-width: 650px) {
  .scissors-border {
    margin-bottom: -2px;
  }
  .spack-paper-layout {
    margin-bottom: -200px;
  }
  .paper-border {
    margin: 0 90px;
  }
  .spock-border {
    margin: 0 90px;
  }
  .lizard-rock-layout {
    margin-top: -60px;
  }
  .lizard-border {
    margin: 0 40px;
  }
  .rock-border {
    margin: 0 40px;
  }
  #scissors,
  #paper,
  #spock,
  #lizard,
  #rock {
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .heading-style {
    font-size: 10px;
    padding: 10px;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
}
